body{
  background-color: orange;
  background: url(../img/foodback.jpg);
  background-size: contain;
  width: 100%;
  height: 100%;
}

header{
  background: #082D5E;
  min-height: 9%;
  border: none;
  display: flex;
}

header h1{
  margin-top: 10px;
  color: orange;
  font-family: ;
  font-size: 26px;
}

header H4{
  color: gray;
  margin-left: 10px;
  font-family: cursive;
  font-size: 20px;
  margin-bottom: 10px;
}

.container1{
  margin-top: 40px;
  border-right: 1px dashed black;
}

.container2{
  margin-top: 40px;
}

.comentario{
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.blog-img{
  width: 100%;
  box-shadow: 2px 2px 20px;
}

.busqueda{
  width: 100%;
  border-bottom: 1px dashed black;
}

.buscar{
  width: 100%;
  margin-left: 4px;
  border-radius: 10px;
  margin-top: 10px;
}

.menu{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.menu a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.menu_inicio:hover{
  text-shadow: 0px 0px 5px blue;
  color: white;
}

.menu_plato_perfecto:hover{
  text-shadow: 0px 0px 5px blue;
  color: white;
}

.menu_mis_recetas:hover{
  text-shadow: 0px 0px 5px blue;
  color: white;
}

.img_fav{
    width: 90px;
    margin-top: 5px;
    border: 1px solid black;
}

.img_fav:hover{
  box-shadow: 0px 0px 10px black;
}

.his_lomo:hover{
  text-shadow: 0px 0px 5px blue;
  color: white;
}

.his_empa:hover{
  text-shadow: 0px 0px 5px blue;
  color: white;
}

.his_lasa:hover{
  text-shadow: 0px 0px 5px blue;
  color: white;
}

@media (max-width: 768px){
  .container1{
    display: none;
  }
  header h4{
    text-align: center !important;
  }
}
