body{
  background: url(../img/turisback.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

nav{
  background: #082D5E;
  height: 150px;
  border: none;
}

.nav-menu{
  clear: both;
  height: 500px;
}

.logo-img{
  width: 120px;
}

.menu_slogan{
  font-size: 20px;
}

.cover_container{
  background-color: orange;
}

.redes-sociales{
  margin-top: 15px;
}

.img-social{
  border-radius: 10px;
}

.img_portada{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.blog-img{
  width: 100%;
  box-shadow: 2px 2px 20px;
}

.comentario{
  font-size: 16px;
  color: black;
}

.perfil_container{
  border-left: 1px dashed black;
  background: white;
}

.img_perfil{
  margin-top: 10px;
  width: 150px;
}

.perfil_titulo{
  text-decoration: underline;
}

.texto_perfil{
  font-size: 14px;
}

.titulo_entrada2{
  margin-top: 10px;
}


@media (max-width: 768px){
  .redes-sociales{
    display: none;
  }
  .nav-menu{
    display: none;
  }
  .nav-menu2{
    width: 50%;
    float: right;
  }
}

@media (min-width: 768px){
  .nav-menu2{
    display: none;
  }
}
